@import "tailwindcss";

@tailwind utilities;

/* --- Color Design --- */

@theme {

  --color-beige: #F5F1EB;
  --color-sand: #E8DFD6;
  --color-accent: #d6a866;

}


html {
  scroll-behavior: smooth;
}
